/** This file will hold the main styles for your website. 
 * 
 **/
/**
 *   Varibles
 */
/**
 *   Mixins
 */
/**
 *   Body
 */
* {
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}
body {
  font-size: 16px;
  font-family: "Maven Pro", Arial, "MS Trebuchet", sans-serif;
  line-height: 1.5em;
  background: url(../images/handmadepaper.png) scroll repeat;
  background: yellow;
}
img,
embed,
object,
video,
iframe {
  max-width: 100%;
}
.panel-display {
  margin-left: -10px;
  margin-right: -10px;
}
#page {
  background-color: #f0f8ff;
  background-image: -moz-radial-gradient(center 200px, circle, #fcfcfc 0%, rgba(235, 235, 255, 0) 600px), -moz-linear-gradient(0% 400px 90deg, rgba(168, 235, 255, 0), rgba(168, 235, 255, 0.5)), url(../images/handmadepaper.png);
  background-image: -webkit-radial-gradient(50% 150px, circle cover, rgba(229, 236, 255, 0.5) 22%, rgba(235, 235, 235, 0.5) 66%, rgba(229, 255, 248, 0.5) 441%);
  background-image: -o-radial-gradient(50% 150px, circle cover, rgba(229, 236, 255, 0.5) 22%, rgba(235, 235, 235, 0.5) 66%, rgba(229, 255, 248, 0.5) 441%);
  background-image: -ms-radial-gradient(50% 150px, circle cover, rgba(229, 236, 255, 0.5) 22%, rgba(235, 235, 235, 0.5) 66%, rgba(229, 255, 248, 0.5) 441%);
  background-image: radial-gradient(50% top, circle cover, rgba(229, 236, 255, 0.2) 22%, rgba(229, 255, 248, 0.1) 66%, rgba(168, 235, 255, 0.5) 100%);
}
.navigation {
  margin: 23px 0 0 0;
  padding: 10px 0;
  text-align: right;
  vertical-align: middle;
  font-size: 1.3em;
}
.navigation ul.inline li {
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.navigation ul.inline li:hover {
  border-bottom: 1px solid #f0f8ff;
}
.content a {
  color: #6699cc;
}
.content a:hover {
  color: #cc9966;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin", helvetica, "Arial", sans-serif;
  font-weight: bold;
  color: #333333;
  color: rgba(50, 50, 50, 0.9);
}
h1 {
  font-size: 2em;
  margin-bottom: 10px;
}
h2 {
  font-size: 1.5em;
  letter-spacing: normal;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.9em;
  font-style: oblique;
}
p {
  margin-bottom: 1em;
  line-height: 1.6em;
}
.site-name a {
  font-size: 2.1em;
  color: #323232;
}
.block h2 a {
  color: #323232;
}
.site-slogan {
  font-size: 18px;
  color: #333;
}
hgroup.site-name-slogan {
  padding: 20px 0 0 0;
}
/**
 *   Zone Menu
 */
#zone-menu-wrapper {
  background-color: #474747;
  background: url(../images/100-100-3-monochrome.png), linear-gradient(bottom, #474747 0%, #333333 100%);
  background: url(../images/200-100-5-monochrome.png), -o-linear-gradient(bottom, #474747 0%, #333333 100%);
  background: url(../images/100-100-3-monochrome.png), -moz-linear-gradient(bottom, #474747 0%, #333333 100%);
  background: -webkit-linear-gradient(bottom, #474747 0%, #333333 100%), url(../images/200-100-5-monochrome.png);
  background: -ms-linear-gradient(bottom, #474747 0%, #333333 100%), url(../images/200-100-5-monochrome.png);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #474747), color-stop(1, #333333)), url(../images/200-100-5-monochrome.png);
  border-bottom: 3px solid #0069ff;
  padding: 5px 0 0 0;
}
/**
 *   Main menu
 */
#region-menu {
  background: rgba(0, 0, 0, 0.2);
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}
#block-system-main-menu {
  text-align: right;
  text-align: right;
  vertical-align: middle;
  padding-bottom: 1em;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1em;
}
#block-system-main-menu ul.menu li {
  background: #666;
  padding: 0.4em 1.2em 0.4em;
  border-radius: 3em;
  -moz-border-radius: 3em;
  -webkit-border-radius: 3em;
}
#block-system-main-menu ul.menu li a {
  font-family: "Cabin", "Arial", sans-serif;
  text-decoration: none;
  font-weight: 100;
  color: #f0f0f0;
  font-size: 1em;
}
ul.menu li {
  display: inline;
  list-style-type: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-bottom: 1em;
}
/**
 *   Tabs Menu
 */
ul.primary {
  border: none;
  margin-bottom: 1.7em;
}
ul.primary li a {
  background: none;
  border: none;
  color: #333333;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
ul.primary li.active a {
  background: #0069ff;
  color: #f0f8ff;
}
ul.primary li a:hover {
  background: #68a2ff;
  color: #f0f8ff;
}
.gr_grid_book_container {
  /*width: 93px !important;*/

  height: 151px;
}
div.gr_grid_book_container:hover {
  -moz-transform: scale(1.3);
  box-shadow: 0 0 8px black;
  background: gray;
}
#search-block-form input.form-submit, #search-form input.form-submit {
  height: 23px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: url(../images/search-button.png);
  overflow: hidden;
  border: #808080 1px solid;
  text-indent: 9999px;
}
.tt-share ul {
  list-style-image: none;
  list-style-type: none;
}
.tt-share a {
  color: #f0f8ff;
  font-size: 0.8em;
  padding: 12px 10px 12px 50px;
  background-position: 7px center;
  background-repeat: no-repeat;
  line-height: 3em;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-image: url("../images/sprites-social-dark.png");
}
.tt-share a:hover {
  color: #6699cc;
}
#tt-share-forrst {
  background-position: -3px -162px;
}
#tt-share-vimeo {
  background-position: -3px -214px;
}
#tt-share-linkedin {
  background-position: -3px -110px;
}
#tt-share-email {
  background-position: -3px -6px;
}
#tt-share-twitter {
  background-position: -3px -58px;
}
#zone-user {
  background: #333;
  height: 4px;
  margin-bottom: 30px;
  width: 940px;
}
#region-branding {
  margin-top: 10px;
}
#zone-branding {
  margin-bottom: 30px;
}
#block-search-form {
  text-align: right;
}
#zone-content-wrapper {
  padding: 20px 0 40px;
}
#zone-content .content article:first-of-type {
  margin-bottom: 0;
  margin-top: 0;
}
#zone-content .content .node-title {
  padding: 15px 15px;
}
#zone-content .content article .node-title a {
  text-shadow: 0px -1px 0px #999999;
  text-decoration: none;
}
#page-title {
  margin: 20px 0 30px;
  text-shadow: 0px -1px 0px #999999;
  letter-spacing: 0.03em;
  line-height: 1em;
}
/**
 *   Title over Image effect
 */
.title-over-image {
  color: #FFF;
  font-size: 1.1em;
  text-decoration: none;
  z-index: 100;
  text-shadow: 0 1px 2px #333;
  padding: 0.6em 0 0.6em;
  width: 100%;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(3%, rgba(0, 0, 0, 0.45)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* IE10+ */

  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* W3C */
}
/**
 *   Display Suite 2-layers
 */
.relative {
  position: relative;
}
.view-mode-large_teaser .ds-top-layer {
  position: absolute;
  bottom: 0;
  color: #FFF;
  font-size: 1.1em;
  text-decoration: none;
  z-index: 100;
  text-shadow: 0 1px 2px #333;
  padding: 0.6em 0 0.6em;
  width: 100%;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(3%, rgba(0, 0, 0, 0.45)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* IE10+ */

  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* W3C */
}
.view-mode-large_teaser .ds-top-layer a {
  text-decoration: none;
}
.view-mode-large_teaser .ds-top-layer h2 {
  color: #FFF;
  margin-bottom: 0;
  line-height: 1.1em;
  font-size: 1em;
  text-decoration: none;
  pointer-events: none;
}
.view-mode-large_teaser .ds-top-layer .field-name-post-date .field-item {
  font-size: 0.5em;
}
.view-mode-large_teaser .ds-top-layer .field-items {
  padding: 0 1em;
}
/**
 *   Article Title
 */
.node-type-article h2, .node-type-article h3 {
  margin-bottom: 10px;
}
.node-type-article .group-header {
  position: relative;
  margin-bottom: 2em;
}
.node-type-article .group-header .text-layover {
  color: #FFF;
  font-size: 1.1em;
  text-decoration: none;
  z-index: 100;
  text-shadow: 0 1px 2px #333;
  padding: 0.6em 0 0.6em;
  width: 100%;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(3%, rgba(0, 0, 0, 0.45)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* IE10+ */

  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 3%);
  /* W3C */
  bottom: 0;
  display: block;
  position: absolute;
  line-height: 1em;
}
.node-type-article .group-header .text-layover .field-items {
  padding: 0.5em 1em;
}
.node-type-article .group-header .text-layover .field-name-title .title {
  color: #FFF;
}
.field-group-format-toggler {
  display: none;
}
#zone-content .content article h2.node-title a:hover {
  color: #000;
  text-decoration: none;
}
#zone-content .content article .content {
  margin-bottom: 15px;
  font-size: 1.0em;
}
#zone-content .content article footer {
  padding: 0 15px;
  margin-bottom: 15px;
}
#zone-content .content article nav.links {
  padding: 0 15px;
  margin-bottom: 20px;
}
/**
 *   Content Media Images
 */
.field-name-body .media-image {
  margin: 10px 0;
  max-width: 100%;
  height: inherit;
}
/**
 *   Main Article Image
 */
.field-name-field-image {
  position: relative;
}
.field-name-field-image img {
  height: inherit;
}
/**
 *   Teaser
 */
.node-article.node-teaser {
  margin: 1em 0;
  font-size: 0.8em;
}
.node-article.node-teaser .group-left {
  width: inherit;
}
.node-article.node-teaser .field-name-field-image {
  padding: 0 1.1em 0 0;
}
.node-article.node-teaser h2 a {
  line-height: 1.2em;
  text-decoration: none;
}
/**
 *   Front Page Intro
 */
#tt-welcome {
  font-family: "Cabin", "Arial", sans-serif;
  margin-top: 0em;
  font-size: 1.8em;
  line-height: 1em;
  color: #999;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
#tt-welcome p {
  z-index: 100;
  margin-bottom: inherit;
  line-height: 1.2em;
}
#tt-welcome p strong {
  font-size: 1.5em;
  font-weight: bolder;
}
#tt-welcome p .tt-intro-small {
  font-size: 0.8em;
  color: #333333;
  line-height: 1em;
  font-weight: lighter;
}
#tt-welcome big {
  white-space: nowrap;
  font-size: 1.25em;
}
#tt-welcome em {
  color: #6699cc;
  font-style: normal;
  font-weight: bold;
  font-size: 1.9em;
  white-space: nowrap;
}
#tt-welcome .tt-intro-large {
  font-size: 0.8em;
  text-align: left;
}
/**
 *   Hire Me now Sticker
 */
.tt-sticker {
  margin: 0 10px;
  text-align: center;
}
/**
 *   Mail me now Image
 */
.tt-mail-me {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 0 0 10px 0;
  left: 0;
}
/**
 *   Projects Footer
 */
#zone-postscript-wrapper {
  border-top: 3px solid #666;
  background-image: url(../images/carbon_fibre_v2.png);
  color: #f0f8ff;
}
.tt-projects .group-left {
  float: left;
  width: inherit;
}
.tt-projects .group-left > div {
  margin-left: 1em;
  margin-right: 1em;
}
.tt-projects .group-right > div {
  margin-left: 10px;
  margin-right: 10px;
}
.tt-projects .field-name-field-image {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-left: 1em;
}
.tt-projects .field-name-field-image img {
  border: 3px solid #FCFCFC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: inherit;
}
.tt-projects .views-row {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 1em 0 1em 0;
  margin-left: 0;
  margin-right: 0;
}
.tt-projects .field-name-title {
  font-size: 2em;
  margin: 0 0.5em 10px;
  line-hieght: 1em;
}
.tt-projects .field-name-title a {
  color: #DDDDDD;
  text-decoration: none;
  font-size: 0.8em;
}
.tt-projects .field-name-body {
  margin-left: 1em;
  margin-right: 1em;
}
.tt-projects .field-name-field-desc {
  margin-left: 1em;
  margin-right: 1em;
}
.tt-projects .field-name-field-url {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 0.8em;
}
/**
 *   Tags: fields
 */
.tags a {
  font-size: 0.75em;
  background: #999999;
  padding: 0.25em 1em;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.tags a:hover {
  background: #cccccc;
  color: #000000;
}
.field-name-field-tags .field-item {
  display: inline-block;
  margin-right: 0.5em;
}
.field-name-field-tags a {
  font-size: 0.75em;
  background: #999999;
  padding: 0.25em 1em;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.field-name-field-tags a:hover {
  background: #cccccc;
  color: #000000;
}
/**
 *   Tags: views
 */
.views-field-field-tags {
  margin-left: 1em;
  margin-right: 1em;
}
.views-field-field-tags a {
  font-size: 0.75em;
  background: #999999;
  padding: 0.25em 1em;
  border-radius: 7px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.views-field-field-tags a:hover {
  background: #cccccc;
  color: #000000;
}
/**
 *   Footer Area
 */
#zone-footer-wrapper {
  background: url(../images/dark-metal.jpg) scroll repeat;
  background-color: #808080;
  border-top: 3px solid #808080;
  color: #f0f8ff;
}
#zone-footer-wrapper .block-title {
  font-size: 2em;
  line-height: 1.8em;
  border-bottom: 1px solid #f0f8ff;
  margin-bottom: 20px;
  color: #f0f8ff;
}
/**
 *   Lower Footer
 */
#zone-lower-menu-wrapper {
  font-size: 0.85em;
  color: #f0f8ff;
  text-shadow: 0 -1px 0 #333333;
  background: rgba(27, 37, 64, 0.9);
  padding: 1.8em 0 1.5em;
  border-top: 3px solid #666;
}
/**
 *   Lower Footer Menu Block
 */
#block-menu-menu-footer-menu a {
  color: #f0f8ff;
  text-decoration: none;
  text-shadow: 0 -1px 0 #333333;
}
#region-lower-second .content p {
  text-align: left;
}
/**
 *   disqus_thread
 */
#disqus_thread {
  background: rgba(0, 0, 0, 0.15) !important;
  padding: 1em;
  border-radius: 0.5em;
}
/**
 *   block-sharethis-block-sharethis-block
 */
#block-sharethis-block-sharethis-block .content {
  margin: 1em 0;
}
