/* This file will hold styles that are loaded using the same media query as the narrow grid.
 * 
 * -- Color Scheme --
 * Teal   M Teal  D Teal  Bright  Light
 * 206973 274044  022B31  85DBE7  BCE1E7
 * 
 * BRN    Medium  Dark    Bright  Light
 * BC7432 6F563F  502804  F3BD8A  F3DBC5
 * */
body {
  background: url(../webtreatsetc-blue1.jpg) fixed repeat;
}
div#page {
  width: inherit;
  min-height:700px;
  padding: 0 10px;
  margin: 0 auto;
  background:#ffffff;
  background: rgba(255,255,255,0.94);
  box-shadow: 0 0 3px #000;
}
#block-search-form {
  text-align: right;
}
