/* This file will hold styles that are loaded using the same media query as the narrow grid.
 * 
 * -- Color Scheme --
 * Teal   M Teal  D Teal  Bright  Light
 * 206973 274044  022B31  85DBE7  BCE1E7
 * 
 * BRN    Medium  Dark    Bright  Light
 * BC7432 6F563F  502804  F3BD8A  F3DBC5
 * */
body {
  background: url(../webtreats_twilight-3.png) fixed repeat;
}
#block-search-form {
  text-align: right;
}
section#section-content .container-12 {
  background: rgba(255,255,255,0.88);
  box-shadow: 0 0 5px #333
}
header#section-header{
  background: url(../random_grey_variations.png);
}
footer#section-footer {
  background: #808080;
}
