/* This file will hold styles that are loaded using the same media query as the normal grid.
 * 
 * -- Color Scheme --
 * Teal   M Teal  D Teal  Bright  Light
 * 206973 274044  022B31  85DBE7  BCE1E7
 * 
 * BRN    Medium  Dark    Bright  Light
 * BC7432 6F563F  502804  F3BD8A  F3DBC5
 * */
h1 {
  font-size: 2.5em;
}
div#page {

}
#zone-postscript-wrapper .tt-projects .views-field-field-image {

}
#tt-welcome .pane-content{
  margin-top: 15%;
}
.tt-mail-me {
  position: relative;
}
#block-system-main-menu ul.menu {
  float: right;
}
#block-system-main-menu ul.menu li{
  background: none;
  border: none;
}