/* This file will hold styles that are loaded using the same media query as the narrow grid.
 * 
 * -- Color Scheme --
 * Teal   M Teal  D Teal  Bright  Light
 * 206973 274044  022B31  85DBE7  BCE1E7
 * 
 * BRN    Medium  Dark    Bright  Light
 * BC7432 6F563F  502804  F3BD8A  F3DBC5
 * */
body {
  background: url(../images/handmadepaper.png) scroll repeat;
}
#page {
  background-color: #f0f8ff;
  background-image: -moz-radial-gradient(center 200px, circle, #fcfcfc 0%, rgba(235, 235, 255, 0) 600px), -moz-linear-gradient(0% 400px 90deg, rgba(168, 235, 255, 0), rgba(168, 235, 255, 0.5)), url(../images/handmadepaper.png);
  background-image: -webkit-radial-gradient(50% 150px, circle cover, rgba(229, 236, 255, 0.5) 22%, rgba(235, 235, 235, 0.5) 66%, rgba(229, 255, 248, 0.5) 441%);
  background-image: -o-radial-gradient(50% 150px, circle cover, rgba(229, 236, 255, 0.5) 22%, rgba(235, 235, 235, 0.5) 66%, rgba(229, 255, 248, 0.5) 441%);
  background-image: -ms-radial-gradient(50% 150px, circle cover, rgba(229, 236, 255, 0.5) 22%, rgba(235, 235, 235, 0.5) 66%, rgba(229, 255, 248, 0.5) 441%);
  background-image: radial-gradient(50% top, circle cover, rgba(229, 236, 255, 0.2) 22%, rgba(229, 255, 248, 0.1) 66%, rgba(168, 235, 255, 0.5) 100%);
}
nav.navigation {
  margin: 23px 0 0 0;
  padding: 10px 0;
  text-align: right;
  vertical-align: middle;
  font-size: 1.3em;
}
.navigation ul.inline li {
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.navigation ul.inline li:hover {
  border-bottom: 1px solid #F0F8FF;
}
#zone-user {
  background: #333;
  height: 4px;
  margin-bottom: 30px;
  width: 940px;
}
#region-branding {
  margin-top: 10px;
}
#zone-branding {
  margin-bottom: 30px;
}
/**
 *   Main menu
 */
#region-menu {
  background: none;
}
#block-system-main-menu {
  text-align: right;
  padding-top: 1.6em;
  padding-left: 2em;
  text-align: right;
  vertical-align: middle;
}
#zone-menu-wrapper {
  background-color: #474747;
  background: url(../images/100-100-3-monochrome.png), linear-gradient(bottom, #474747 0%, #333333 100%);
  background: url(../images/200-100-5-monochrome.png), -o-linear-gradient(bottom, #474747 0%, #333333 100%);
  background: url(../images/100-100-3-monochrome.png), -moz-linear-gradient(bottom, #474747 0%, #333333 100%);
  background: -webkit-linear-gradient(bottom, #474747 0%, #333333 100%), url(../images/200-100-5-monochrome.png);
  background: -ms-linear-gradient(bottom, #474747 0%, #333333 100%), url(../images/200-100-5-monochrome.png);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #474747), color-stop(1, #333333)), url(../images/200-100-5-monochrome.png);
  border-bottom: 3px solid #0069ff;
  padding: 5px 0 25px 0;
}
#block-search-form {
  text-align: right;
}
#zone-content-wrapper {
  padding: 20px 0 40px;
}
#zone-content .content .node-title {
  padding: 15px 15px;
}
#zone-content .content article .node-title a {
  text-shadow: 0px -1px 0px #999999;
  text-decoration: none;
}
#zone-content .content article h2.node-title a:hover {
  color: #000;
  text-decoration: underline;
}
#zone-content .content article .content {
  margin-bottom: 15px;
  font-size: 1.1em;
}
#zone-content .content article footer {
  padding: 0 15px;
  margin-bottom: 15px;
}
#zone-content .content article nav.links {
  padding: 0 15px;
  margin-bottom: 20px;
}
/**
 *   Front Page Intro
 */
#tt-welcome .pane-content {
  font-size: 3.7em;
  margin-top: 2%;
  text-align: justify ;
}
#tt-welcome big {
  white-space: nowrap;
}
#tt-welcome p.tt-intro-small {
  margin-top: -7px;
}
.tt-mail-me {
  left: 6px;
}
.tt-mail-me img {
  width: 100%;
}
#zone-postscript-wrapper {
  border-top: 3px solid #666;
  background-image: url(../images/carbon_fibre_v2.png);
  color: #F0F8FF;
}
.tt-projects .views-row {
  margin-left: 10px;
  margin-right: 10px;
}
.tt-projects .views-row-first {
  margin-left: 0px;
}
.tt-projects .views-row-last {
  margin-right: 0px;
}
#zone-footer-wrapper {
  padding: 30px 0 50px;
}
/**
 *   Main Menu
 */
/**
 *   Content Media Images
 */
.field-name-body .media-image {
  width: inherit;
  height: inherit;
}
#region-lower-second .content p {
  text-align: right;
}
.view-mode-large_teaser {
  font-size: 2em;
}
